[Unit]
Description=Migration Agent (run before initrd-cleanup)
DefaultDependencies=no
After=initrd-root-fs.target snap-initramfs-mounts.service
Before=initrd-cleanup.service
Requires=initrd-root-fs.target
Conflicts=initrd-switch-root.target

[Service]
Type=oneshot
ExecStart=/bin/sh -c '\
  echo "[migration-agent.service] Starting at $(date)" | tee -a /run/migration-agent.service.log; \
  /bin/migration-agent.sh 2>&1 | tee -a /run/migration-agent.service.log; \
  echo "[migration-agent.service] Finished at $(date)" | tee -a /run/migration-agent.service.log \
'
StandardOutput=journal+console
StandardError=journal+console
TimeoutSec=0

[Install]
WantedBy=initrd-cleanup.service
